.buttons-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.buttons-container > button {
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  text-align: center;
}

.product-count {
  font-size: 1.2rem;
  width: 24px;
  height: 24px;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.product-count::-webkit-outer-spin-button,
.product-count::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.product-count {
  -moz-appearance: textfield;
}
