.buttons-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.buttons-container > button {
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  text-align: center;
}
