.product {
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-image {
  max-width: 120px;
  max-height: 120px;
}

.product-image > img {
  width: 100%;
}

.product-title {
  font-size: 1rem;
  margin: 0;
}

.product-price {
  font-size: large;
}

@media screen and (min-width: 800px) {
  .product {
    width: 600px;
  }

  .product-image {
    max-width: fit-content;
    max-height: fit-content;
  }

  .product-title {
    font-size: 1.2rem;
  }
}
