nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
  background-color: blue;
  width: 100%;
  position: fixed;
  height: 30px;
}

nav a {
  color: white;
}

.cart-link {
  display: flex;
  gap: 6px;
  align-items: center;
}
